@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the website for the Identity provider. Here you can create identities which can be used when authenticating a user.</p>
    <p>When authenticating a user the <a asp-page="/Login">Login page</a> will be shown.</p>
</div>
